.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black
}

.grid div {
    height: 20px;
    width: 20px;
}

.moon-surface {
    background-color: rgb(238, 238, 238);
}

.moon-lander {
    background-color: rgb(44, 189, 150);
}

.moon-rocks {
    background-color: rgb(155, 155, 155);
}

.icy-area {
    background-color: rgb(99, 176, 235);
}

.moon-base-land {
    background-color: rgb(238, 238, 238);
}

.moon-base {
    background-color: rgb(52, 114, 222);
}

.astronaut {
    background-color: blue;
}